@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Poppins;
}

body::-webkit-scrollbar {
	width: 0;
}
@font-face {
	src: url("../font/Poppins.ttf");
	font-family: Poppins;
}
